- content_for :javascript do
  :javascript
    $('select.dropdown')
      .dropdown();
    $('#type').dropdown('set selected', #{params[:activity_type_id] || '" "'});
    $('#date-filter').val('#{params[:date_time]}').datetimepicker({
      onShow: function(ct){
        this.setOptions({
          minDate: new Date()
        });
      },
      format: "DD.MM.YYYY HH:mm",
      timeFormat: "HH:mm:ss",
    });
    $('.ui.sticky')
      .sticky();
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: {id: 'map'} }, function(){
      var current_lat = getCookie('lat');
      var current_lng = getCookie('lng');
      if (typeof current_lat != 'undefined' && typeof current_lat !== 'NaN' && typeof current_lng !== 'undefined') {
          initialLocation = new google.maps.LatLng(current_lat, current_lng);
          handler.map.centerOn(initialLocation);
      }
      else if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
          initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
          handler.map.centerOn(initialLocation);
        });
      }
      var mh = #{raw @markers_hash.to_json};
      markers = handler.addMarkers(mh);
      handler.bounds.extendWith(markers);
      handler.getMap().setZoom(15);
    });
    google.maps.event.addListener(handler.getMap(), 'center_changed', function() {
      var c = handler.getMap().getCenter();
      setCookie('lat', c.lat());
      setCookie('lng', c.lng());
    });
  });

.ui.grid
  .four.wide.column
    %h3.ui.top.attached.header Фильтр
    .ui.attached.segment{style: 'z-index: 10'}
      = form_tag('/', method: 'get', class: 'ui form') do
        .field
          = label_tag :activity_type_id, 'Вид спорта'
          = select_tag :activity_type_id, options_from_collection_for_select(@activity_types, :id, :title), {id: 'type', class: 'ui dropdown', multiple: true}
        .field
          = label_tag :date_time, 'Дата'
          = text_field_tag :date_time, nil, {id: 'date-filter'}
        = submit_tag 'Применить фильтр', {class: 'ui button'}
  .twelve.wide.column