- content_for :javascript do
  :javascript
    $('select.dropdown')
      .dropdown();
    $('#type').dropdown('set selected', #{params[:activity_type_id] || '" "'});
    $('#date-filter').val('#{params[:date_time]}').datepicker({ dateFormat: 'dd.mm.yy' });
    $('.ui.sticky')
      .sticky();

    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: {id: 'map'} }, function(){
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
          initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
          handler.map.centerOn(initialLocation);
        });
      }
      var mh = #{raw @markers_hash.to_json};
      markers = handler.addMarkers(mh);
      handler.bounds.extendWith(markers);
      handler.getMap().setZoom(15);
    });
.ui.grid
  .four.wide.column
    %h3.ui.top.attached.header Фильтр
    .ui.attached.segment{style: 'z-index: 10'}
      = form_tag('/', method: 'get', class: 'ui form') do
        .field
          = label_tag :activity_type_id, 'Вид спорта'
          = select_tag :activity_type_id, options_from_collection_for_select(@activity_types, :id, :title), {id: 'type', class: 'ui dropdown', multiple: true}
        .field
          = label_tag :date_time, 'Дата'
          = text_field_tag :date_time, nil, {id: 'date-filter'}
        = submit_tag 'Применить фильтр', {class: 'ui button'}
  .twelve.wide.column