!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}
      %title Untitled
      = csrf_meta_tags
      = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
      = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .ui.fixed.menu
      %a.header.item{:href => root_path}
        = image_tag "logo.jpg", :class => "logo"
        Streetplay
      %a.item{:href => root_path} Карта событий
      .item
        %a.ui.primary.button{:href => new_activities_path} Создать событие
      .right.menu
        .ui.simple.dropdown.item
          UserName
          %i.dropdown.icon
          .menu
            %a.item{:href => "#"} Link Item
            %a.item{:href => "#"} Link Item
            .divider
            .header Header Item
            .item
              %i.dropdown.icon
              Sub Menu
              .menu
                %a.item{:href => "#"} Link Item
                %a.item{:href => "#"} Link Item
            %a.item{:href => "#"} Link Item
    .ui.main.text.container
      %p.notice= notice
      %p.alert= alert
      = yield
    .ui.inverted.vertical.footer.segment
      .ui.center.aligned.container
        .ui.stackable.inverted.divided.grid
          .sixteen.wide.column
            &copy; 2016 Все права защищены
        .ui.horizontal.inverted.small.divided.link.list
          %a.item{:href => "#"} Как это работает
          %a.item{:href => "#"} Контакты
          %a.item{:href => "#"} FAQ
          %a.item{:href => "#"} Условия использования